* {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}
input {
  border-radius: 2px;
  -webkit-appearance : none;
  border: 1px solid #ccc;
  padding: 10px;
}

.text-center {
  background-color: #EEA197;
  padding: 20px;
  text-align: center;
}

#contenedor {
  margin: 30px auto;
  width: 960px;
}

.contenedor-imagen {
  display: inline-block;
  height: 300px;
  margin: 0 10px 20px 10px;
  width: 300px;

}

img {
  height: 100%;
  width: 100%;
}
